script-opts/jellyfin.conf
script-opts/jellyfin.conf.1
script-opts/subdl_ar.conf
script-opts/ar_subs.conf
script-opts/memo-history.log
.env
.omo/
*.save
*.save.*
*.bk
fonts.conf-backup
scripts/autosubsync/.git.local/
wiki/
