script-opts/jellyfin.conf
script-opts/jellyfin.conf.1
script-opts/subdl_ar.conf
script-opts/ar_subs.conf
script-opts/anime_detect.conf
scripts/sponsorblock_shared/sponsorblock.txt
data/
chapters/
.env
.omo/
*.save
*.save.*
*.bk
fonts.conf-backup
scripts/autosubsync/.git.local/
wiki/
